<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>This is a photo gallery</h1>
    <img src="/static/images/screenshots/apt-update.png" alt="image">
    <img src="/static/images/screenshots/df h.png" alt="image">
    <img src="/static/images/screenshots/apt-update.png" alt="image">
    <img src="/static/images/screenshots/apt-update.png" alt="image">
</body>
</html>